doctype html
html
	head
		//- Stylesheets
		link(rel='stylesheet' href='/stylesheets/style.css')

		//- Scripts
		script(type='text/javascript' src='/js/angular.min.js')


	body
		if token
			script(type='text/javascript').
				token = '!{token}';
				user = #{user};
				console.log(user, token);

		block content