extends header
block content

	form.centerBox(action='/signup' method='post' name='signupForm')
		input(type='text' name='email' placeholder='EMAIL' class='centerFormInput')
		input(type='password' name='password' placeholder='PASSWORD' class='centerFormInput')
		button(type='submit' class='formButton') sign in